@font-face {
    font-family: "tfaucet";
    src: url('https://cdn.jsdelivr.net/gh/aromero7764/fonts2faucet@1.0.0/IconFont.woff2?t=1663889041822') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/aromero7764/fonts2faucet@1.0.0/IconFont.woff?t=1663889041822') format('woff'),
        url('https://cdn.jsdelivr.net/gh/aromero7764/fonts2faucet@1.0.0/IconFont.ttf?t=1663889041822') format('truetype');
}

.iconfont {
    font-family: "tfaucet" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-3d_rotation:before { content: "\e900"; }
.icon-accessibility:before { content: "\e901"; }
.icon-accessibility_new:before { content: "\e902"; }
.icon-accessible:before { content: "\e903"; }
.icon-accessible_forward:before { content: "\e904"; }
.icon-account_balance:before { content: "\e905"; }
.icon-account_balance_wallet:before { content: "\e906"; }
.icon-account_box:before { content: "\e907"; }
.icon-account_circle:before { content: "\e908"; }
.icon-addchart:before { content: "\e909"; }
.icon-add_shopping_cart:before { content: "\e90a"; }
.icon-add_task:before { content: "\e90b"; }
.icon-admin_panel_settings:before { content: "\e90c"; }
.icon-alarm:before { content: "\e90d"; }
.icon-alarm_add:before { content: "\e90e"; }
.icon-alarm_off:before { content: "\e90f"; }
.icon-alarm_on:before { content: "\e910"; }
.icon-all_inbox:before { content: "\e911"; }
.icon-all_out:before { content: "\e912"; }
.icon-analytics:before { content: "\e913"; }
.icon-anchor:before { content: "\e914"; }
.icon-android:before { content: "\e915"; }
.icon-announcement:before { content: "\e916"; }
.icon-api:before { content: "\e917"; }
.icon-app_blocking:before { content: "\e918"; }
.icon-arrow_circle_down:before { content: "\e919"; }
.icon-arrow_circle_up:before { content: "\e91a"; }
.icon-arrow_right_alt:before { content: "\e91b"; }
.icon-article:before { content: "\e91c"; }
.icon-aspect_ratio:before { content: "\e91d"; }
.icon-assessment:before { content: "\e91e"; }
.icon-assignment:before { content: "\e91f"; }
.icon-assignment_ind:before { content: "\e920"; }
.icon-assignment_late:before { content: "\e921"; }
.icon-assignment_return:before { content: "\e922"; }
.icon-assignment_returned:before { content: "\e923"; }
.icon-assignment_turned_in:before { content: "\e924"; }
.icon-autorenew:before { content: "\e925"; }
.icon-backup:before { content: "\e926"; }
.icon-backup_table:before { content: "\e927"; }
.icon-batch_prediction:before { content: "\e928"; }
.icon-book:before { content: "\e929"; }
.icon-bookmark:before { content: "\e92a"; }
.icon-bookmarks:before { content: "\e92b"; }
.icon-bookmark_border:before { content: "\e92c"; }
.icon-book_online:before { content: "\e92d"; }
.icon-bug_report:before { content: "\e92e"; }
.icon-build:before { content: "\e92f"; }
.icon-build_circle:before { content: "\e930"; }
.icon-cached:before { content: "\e931"; }
.icon-calendar_today:before { content: "\e932"; }
.icon-calendar_view_day:before { content: "\e933"; }
.icon-camera_enhance:before { content: "\e934"; }
.icon-cancel_schedule_send:before { content: "\e935"; }
.icon-card_giftcard:before { content: "\e936"; }
.icon-card_membership:before { content: "\e937"; }
.icon-card_travel:before { content: "\e938"; }
.icon-change_history:before { content: "\e939"; }
.icon-check_circle:before { content: "\e93a"; }
.icon-check_circle_outline:before { content: "\e93b"; }
.icon-chrome_reader_mode:before { content: "\e93c"; }
.icon-class:before { content: "\e93d"; }
.icon-close_fullscreen:before { content: "\e93e"; }
.icon-code:before { content: "\e93f"; }
.icon-comment_bank:before { content: "\e940"; }
.icon-commute:before { content: "\e941"; }
.icon-compare_arrows:before { content: "\e942"; }
.icon-contactless:before { content: "\e943"; }
.icon-contact_page:before { content: "\e944"; }
.icon-contact_support:before { content: "\e945"; }
.icon-copyright:before { content: "\e946"; }
.icon-credit_card:before { content: "\e947"; }
.icon-dashboard:before { content: "\e948"; }
.icon-date_range:before { content: "\e949"; }
.icon-delete:before { content: "\e94a"; }
.icon-delete_forever:before { content: "\e94b"; }
.icon-delete_outline:before { content: "\e94c"; }
.icon-description:before { content: "\e94d"; }
.icon-disabled_by_default:before { content: "\e94e"; }
.icon-dns:before { content: "\e94f"; }
.icon-done:before { content: "\e950"; }
.icon-done_all:before { content: "\e951"; }
.icon-done_outline:before { content: "\e952"; }
.icon-donut_large:before { content: "\e953"; }
.icon-donut_small:before { content: "\e954"; }
.icon-drag_indicator:before { content: "\e955"; }
.icon-dynamic_form:before { content: "\e956"; }
.icon-eco:before { content: "\e957"; }
.icon-eject:before { content: "\e958"; }
.icon-euro_symbol:before { content: "\e959"; }
.icon-event:before { content: "\e95a"; }
.icon-event_seat:before { content: "\e95b"; }
.icon-exit_to_app:before { content: "\e95c"; }
.icon-explore:before { content: "\e95d"; }
.icon-explore_off:before { content: "\e95e"; }
.icon-extension:before { content: "\e95f"; }
.icon-face:before { content: "\e960"; }
.icon-face_unlock:before { content: "\e961"; }
.icon-fact_check:before { content: "\e962"; }
.icon-favorite:before { content: "\e963"; }
.icon-favorite_border:before { content: "\e964"; }
.icon-feedback:before { content: "\e965"; }
.icon-filter_alt:before { content: "\e966"; }
.icon-find_in_page:before { content: "\e967"; }
.icon-find_replace:before { content: "\e968"; }
.icon-fingerprint:before { content: "\e969"; }
.icon-flaky:before { content: "\e96a"; }
.icon-flight_land:before { content: "\e96b"; }
.icon-flight_takeoff:before { content: "\e96c"; }
.icon-flip_to_back:before { content: "\e96d"; }
.icon-flip_to_front:before { content: "\e96e"; }
.icon-gavel:before { content: "\e96f"; }
.icon-get_app:before { content: "\e970"; }
.icon-gif:before { content: "\e971"; }
.icon-grade:before { content: "\e972"; }
.icon-grading:before { content: "\e973"; }
.icon-group_work:before { content: "\e974"; }
.icon-g_translate:before { content: "\e975"; }
.icon-help:before { content: "\e976"; }
.icon-help_center:before { content: "\e977"; }
.icon-help_outline:before { content: "\e978"; }
.icon-highlight_alt:before { content: "\e979"; }
.icon-highlight_off:before { content: "\e97a"; }
.icon-history:before { content: "\e97b"; }
.icon-history_toggle_off:before { content: "\e97c"; }
.icon-home:before { content: "\e97d"; }
.icon-horizontal_split:before { content: "\e97e"; }
.icon-hourglass_disabled:before { content: "\e97f"; }
.icon-hourglass_empty:before { content: "\e980"; }
.icon-hourglass_full:before { content: "\e981"; }
.icon-http:before { content: "\e982"; }
.icon-https:before { content: "\e983"; }
.icon-important_devices:before { content: "\e984"; }
.icon-info:before { content: "\e985"; }
.icon-info_outline:before { content: "\e986"; }
.icon-input:before { content: "\e987"; }
.icon-integration_instructions:before { content: "\e988"; }
.icon-invert_colors:before { content: "\e989"; }
.icon-label:before { content: "\e98a"; }
.icon-label_important:before { content: "\e98b"; }
.icon-label_important_outline:before { content: "\e98c"; }
.icon-label_off:before { content: "\e98d"; }
.icon-label_outline:before { content: "\e98e"; }
.icon-language:before { content: "\e98f"; }
.icon-launch:before { content: "\e990"; }
.icon-leaderboard:before { content: "\e991"; }
.icon-lightbulb_outline:before { content: "\e992"; }
.icon-line_style:before { content: "\e993"; }
.icon-line_weight:before { content: "\e994"; }
.icon-list:before { content: "\e995"; }
.icon-lock:before { content: "\e996"; }
.icon-lock_open:before { content: "\e997"; }
.icon-lock_outline:before { content: "\e998"; }
.icon-login:before { content: "\e999"; }
.icon-loyalty:before { content: "\e99a"; }
.icon-markunread_mailbox:before { content: "\e99b"; }
.icon-maximize:before { content: "\e99c"; }
.icon-mediation:before { content: "\e99d"; }
.icon-minimize:before { content: "\e99e"; }
.icon-model_training:before { content: "\e99f"; }
.icon-next_plan:before { content: "\e9a0"; }
.icon-note_add:before { content: "\e9a1"; }
.icon-not_accessible:before { content: "\e9a2"; }
.icon-not_started:before { content: "\e9a3"; }
.icon-offline_bolt:before { content: "\e9a4"; }
.icon-offline_pin:before { content: "\e9a5"; }
.icon-online_prediction:before { content: "\e9a6"; }
.icon-opacity:before { content: "\e9a7"; }
.icon-open_in_browser:before { content: "\e9a8"; }
.icon-open_in_full:before { content: "\e9a9"; }
.icon-open_in_new:before { content: "\e9aa"; }
.icon-open_with:before { content: "\e9ab"; }
.icon-outbond:before { content: "\e9ac"; }
.icon-outlet:before { content: "\e9ad"; }
.icon-pageview:before { content: "\e9ae"; }
.icon-pan_tool:before { content: "\e9af"; }
.icon-payment:before { content: "\e9b0"; }
.icon-pending:before { content: "\e9b1"; }
.icon-pending_actions:before { content: "\e9b2"; }
.icon-perm_camera_mic:before { content: "\e9b3"; }
.icon-perm_contact_calendar:before { content: "\e9b4"; }
.icon-perm_data_setting:before { content: "\e9b5"; }
.icon-perm_device_information:before { content: "\e9b6"; }
.icon-perm_identity:before { content: "\e9b7"; }
.icon-perm_media:before { content: "\e9b8"; }
.icon-perm_phone_msg:before { content: "\e9b9"; }
.icon-perm_scan_wifi:before { content: "\e9ba"; }
.icon-pets:before { content: "\e9bb"; }
.icon-picture_in_picture:before { content: "\e9bc"; }
.icon-picture_in_picture_alt:before { content: "\e9bd"; }
.icon-plagiarism:before { content: "\e9be"; }
.icon-play_for_work:before { content: "\e9bf"; }
.icon-polymer:before { content: "\e9c0"; }
.icon-power_settings_new:before { content: "\e9c1"; }
.icon-pregnant_woman:before { content: "\e9c2"; }
.icon-preview:before { content: "\e9c3"; }
.icon-print:before { content: "\e9c4"; }
.icon-privacy_tip:before { content: "\e9c5"; }
.icon-published_with_changes:before { content: "\e9c6"; }
.icon-query_builder:before { content: "\e9c7"; }
.icon-question_answer:before { content: "\e9c8"; }
.icon-quickreply:before { content: "\e9c9"; }
.icon-receipt:before { content: "\e9ca"; }
.icon-record_voice_over:before { content: "\e9cb"; }
.icon-redeem:before { content: "\e9cc"; }
.icon-remove_shopping_cart:before { content: "\e9cd"; }
.icon-reorder:before { content: "\e9ce"; }
.icon-report_problem:before { content: "\e9cf"; }
.icon-request_page:before { content: "\e9d0"; }
.icon-restore:before { content: "\e9d1"; }
.icon-restore_from_trash:before { content: "\e9d2"; }
.icon-restore_page:before { content: "\e9d3"; }
.icon-room:before { content: "\e9d4"; }
.icon-rounded_corner:before { content: "\e9d5"; }
.icon-rowing:before { content: "\e9d6"; }
.icon-rule:before { content: "\e9d7"; }
.icon-schedule:before { content: "\e9d8"; }
.icon-search:before { content: "\e9d9"; }
.icon-search_off:before { content: "\e9da"; }
.icon-settings:before { content: "\e9db"; }
.icon-settings_applications:before { content: "\e9dc"; }
.icon-settings_backup_restore:before { content: "\e9dd"; }
.icon-settings_bluetooth:before { content: "\e9de"; }
.icon-settings_brightness:before { content: "\e9df"; }
.icon-settings_cell:before { content: "\e9e0"; }
.icon-settings_ethernet:before { content: "\e9e1"; }
.icon-settings_input_antenna:before { content: "\e9e2"; }
.icon-settings_input_component:before { content: "\e9e3"; }
.icon-settings_input_composite:before { content: "\e9e4"; }
.icon-settings_input_hdmi:before { content: "\e9e5"; }
.icon-settings_input_svideo:before { content: "\e9e6"; }
.icon-settings_overscan:before { content: "\e9e7"; }
.icon-settings_phone:before { content: "\e9e8"; }
.icon-settings_power:before { content: "\e9e9"; }
.icon-settings_remote:before { content: "\e9ea"; }
.icon-settings_voice:before { content: "\e9eb"; }
.icon-shop:before { content: "\e9ec"; }
.icon-shopping_bag:before { content: "\e9ed"; }
.icon-shopping_basket:before { content: "\e9ee"; }
.icon-shopping_cart:before { content: "\e9ef"; }
.icon-shop_two:before { content: "\e9f0"; }
.icon-smart_button:before { content: "\e9f1"; }
.icon-source:before { content: "\e9f2"; }
.icon-speaker_notes:before { content: "\e9f3"; }
.icon-speaker_notes_off:before { content: "\e9f4"; }
.icon-spellcheck:before { content: "\e9f5"; }
.icon-stars:before { content: "\e9f6"; }
.icon-star_rate:before { content: "\e9f7"; }
.icon-sticky_note_2:before { content: "\e9f8"; }
.icon-store:before { content: "\e9f9"; }
.icon-subject:before { content: "\e9fa"; }
.icon-subtitles_off:before { content: "\e9fb"; }
.icon-supervised_user_circle:before { content: "\e9fc"; }
.icon-supervisor_account:before { content: "\e9fd"; }
.icon-support:before { content: "\e9fe"; }
.icon-swap_horiz:before { content: "\e9ff"; }
.icon-swap_horizontal_circle:before { content: "\ea00"; }
.icon-swap_vert:before { content: "\ea01"; }
.icon-swap_vertical_circle:before { content: "\ea02"; }
.icon-sync_alt:before { content: "\ea03"; }
.icon-system_update_alt:before { content: "\ea04"; }
.icon-tab:before { content: "\ea05"; }
.icon-table_view:before { content: "\ea06"; }
.icon-tab_unselected:before { content: "\ea07"; }
.icon-text_rotate_up:before { content: "\ea08"; }
.icon-text_rotate_vertical:before { content: "\ea09"; }
.icon-text_rotation_angledown:before { content: "\ea0a"; }
.icon-text_rotation_angleup:before { content: "\ea0b"; }
.icon-text_rotation_down:before { content: "\ea0c"; }
.icon-text_rotation_none:before { content: "\ea0d"; }
.icon-theaters:before { content: "\ea0e"; }
.icon-thumbs_up_down:before { content: "\ea0f"; }
.icon-thumb_down:before { content: "\ea10"; }
.icon-thumb_up:before { content: "\ea11"; }
.icon-timeline:before { content: "\ea12"; }
.icon-toc:before { content: "\ea13"; }
.icon-today:before { content: "\ea14"; }
.icon-toll:before { content: "\ea15"; }
.icon-touch_app:before { content: "\ea16"; }
.icon-tour:before { content: "\ea17"; }
.icon-track_changes:before { content: "\ea18"; }
.icon-translate:before { content: "\ea19"; }
.icon-trending_down:before { content: "\ea1a"; }
.icon-trending_flat:before { content: "\ea1b"; }
.icon-trending_up:before { content: "\ea1c"; }
.icon-turned_in:before { content: "\ea1d"; }
.icon-turned_in_not:before { content: "\ea1e"; }
.icon-unpublished:before { content: "\ea1f"; }
.icon-update:before { content: "\ea20"; }
.icon-upgrade:before { content: "\ea21"; }
.icon-verified:before { content: "\ea22"; }
.icon-verified_user:before { content: "\ea23"; }
.icon-vertical_split:before { content: "\ea24"; }
.icon-view_agenda:before { content: "\ea25"; }
.icon-view_array:before { content: "\ea26"; }
.icon-view_carousel:before { content: "\ea27"; }
.icon-view_column:before { content: "\ea28"; }
.icon-view_day:before { content: "\ea29"; }
.icon-view_headline:before { content: "\ea2a"; }
.icon-view_list:before { content: "\ea2b"; }
.icon-view_module:before { content: "\ea2c"; }
.icon-view_quilt:before { content: "\ea2d"; }
.icon-view_sidebar:before { content: "\ea2e"; }
.icon-view_stream:before { content: "\ea2f"; }
.icon-view_week:before { content: "\ea30"; }
.icon-visibility:before { content: "\ea31"; }
.icon-visibility_off:before { content: "\ea32"; }
.icon-voice_over_off:before { content: "\ea33"; }
.icon-watch_later:before { content: "\ea34"; }
.icon-wifi_protected_setup:before { content: "\ea35"; }
.icon-work:before { content: "\ea36"; }
.icon-work_off:before { content: "\ea37"; }
.icon-work_outline:before { content: "\ea38"; }
.icon-wysiwyg:before { content: "\ea39"; }
.icon-youtube_searched_for:before { content: "\ea3a"; }
.icon-zoom_in:before { content: "\ea3b"; }
.icon-zoom_out:before { content: "\ea3c"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
